/* Sticky footer styles
-------------------------------------------------- */
html {
    position: relative;
    min-height: 100%;
  }
  body {
    /* Margin bottom by footer height */
    margin-bottom: 300px;
  }
  .footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 300px; 
    /* Set the fixed height of the footer here */
    min-height: 300px;
  }
  
  
  /* Custom page CSS
   * Not required for template or sticky footer method.
   * -------------------------------------------------- */
  
  body > .container {
    padding: 0px 15px 80px;
  }
  .container .text-muted {
    margin: 20px 0;
  }
  
  .footer > .container {
      padding-right: 15px;
      padding-left: 15px;
  }

  code {
      font-size: 80%;
  }

  body {
      font-family: "Raleway", sans-serif;
  }

  img.logo {
      width: 82px;
      float: left;
  }
  span.logo {
      margin-top: 25px;
      display: inline-block;   
      font-size: 24px; 
      margin-left: 10px;
      color: black;
  }
  footer img.logo {
    float: none;
    margin-top: 30px;
  }

  footer ul li a, footer ul li a:hover {
    text-decoration: none;  /*remove a decoração, hover quando clicado*/
    line-height: 35px;
    color: black;

  }
  footer ul li {    /*remove as bolinhas da lista de seleção*/
    list-style: none;
  }

  .navbar-default {
      background-color: white;
      height: 100px;
  }

  .navbar-default .navbar-nav {
      margin-top: 25px;
      float: right;
  }

  /* Smartphone */
  .navbar-header .navbar-toggle {
      margin-top: 30px;
  }

  footer {
      margin-top: 40px;
  }
  footer .row {
      padding-top: 40px;
      padding-bottom: 40px;
      border-top: 1px solid rgb(204, 204 ,204);
      border-bottom: 1px solid rgb(204, 204 ,204);

      background-color: white;
  }

  footer .divisao {
     border-left: 1px solid rgb(204,204, 204);   

  }
  .footer_telefone {
      background-color: rgb(250, 250, 250);
      border: 1px solid rgb(205, 205, 205);
      color: rgb(197, 197, 197);
      font-size: 18px;
      padding: 20px;
      margin-top: 50px;
  }
  .footer_telefone div {
    width: 260px;
    margin: auto;
  }

  .footer_telefone span {
      color: rgb(70, 70, 70);
      font-size: 32px;
  }

  @media (max-width: 768px) {
      .navbar-default .navbar-nav>li>a, .navbar-default .navbar-nav>li>a:hover {  
        background-color: white;
      }
      .navbar-default .navbar-collapse, .navbar-default .navbar-form {
        border: none;
      }
}

  /* Tablet */

  @media (min-width: 768px) and (max-width: 992px) {
        
    .nav>li>a /*acessando a sequencia de atributos linhas e etc */ { 
        padding: 7px;
        font-size: 12px;
        margin-top: 10px;
    }
    body {
      /* Margin bottom by footer height */
      margin-bottom: 600px;
    }
    .footer {
          height: 600px !important;
    }

  }